.ExperimentalFeatures
  display: flex
  display: -webkit-flex
  display: -ms-flexbox
  flex-direction: column
  padding: 20px 0

  .feature
    display: flex
    display: -webkit-flex
    display: -ms-flexbox
    flex-direction: row
    margin-top: 10px
    margin-left: 15px
    margin-right: auto
    //width: 50%;

    .featureLabel
      display: flex
      flex-basis: 0
      flex-grow: 1.5
      justify-content: flex-end
      padding-right: 20px


