.GeneralPreferences
  display: flex
  flex-direction: column
  padding: 20px 0

  h2
    font-size 14px
    font-weight normal
    margin-top: 25px
    margin-bottom: 0
    margin-left: 15px
    color: var(--active-color)

  hr
    width 50%
    margin-left: 15px
    border-color: var(--active-color)

  select
    min-width: 150px

  .generalItem
    display: flex
    margin-top: 10px
    margin-left: 15px
    margin-right: auto

    .generalLabel
      display: flex
      flex-basis: 0
      flex-grow: 1.5
      justify-content: flex-end
      padding-right: 20px

    .language-select
      flex-grow: 1.5
      flex-basis: 0
